@charset "utf-8";
font-family: 'Orbitron', sans-serif;
* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width:640px){
  body{
    background-color: gray;
  }
}

header{
  padding:10px;
  text-aligen:center;
  background-color: red;
}
section{
  padding: 10px;
  background-color: orange;
}
aside{
  padding: 10px;
  background-color: green;
}
footer{
  padding: 10px;
  background-color: blue;
  text-alige: center;
}
